/* App.css modifier le 23 Sept 2022
/*************************************************************/
/* main-header */
.header-container {
  display:inline-block;
  width: 100%;
  background: rgb(23, 6, 175);
  padding: 16px 16px; 
}

.header-container > div {
  display:inline-block;
  /* vertical-align:middle;*/  
}

/* main-header-brand */
.header-container-brand {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  font-family: I'Franklin Gothic Medium';
  /* 'Franklin Gothic Medium';*/
  margin-right: 100px
}

/* main-nav */
.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 200px);
  /*vertical-align:middle;*/
} 
/* main-nav-items */
.nav-items{
  display:flex;
  margin:0;
  padding:0;
  list-style:none;
}
/* main-nav-item */
.nav-item {
 display: inline-block;
 margin:0 16px;
 color:white
}

.nav-item--cta {
background-color: blueviolet;
padding: 6px 6px;
border-radius: 8px;
color:beige
}
/* */

/* :hover et :active permet de changer la couleur pour la page activée pour la classe nav-item */
.nav-item:hover,.nav-item:active{
  color: red;
}
/* Formatage du contenu de chaque page */
.card , .card-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* titre */
  width: 250px;
  height: 275px;
  padding: 25px 15px;
  margin: 10px;
  /*border: 3px solid black;*/
  border-radius: 7px;
  background-color: rgb(244, 246, 247);
  box-shadow: 5px 3px 5px black; 
}
.card-input {
  flex-wrap: wrap;
  /* margin: 40px 20px; */  
  margin: 0px 50px; 
}

.card-name, card-imput .name {
  font-size: 15px;
  color: red;
  height: 10px;
}
.card-ingredient, card-input .ingredient {
  font-size: 12px;
  color: green;
  height: 200px;
}
.card-preparation, card-input .preparation {
  font-size: 12px;
  color: gray; 
  height: 200px;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}
.button-list {
  background-color: aqua;
  padding: 8px 12px;
  border-radius:8px;
  margin:10px
}

.container {
  display: block; 
  width: 600px;
  height: 500px; 
}
.wrap-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  /* margin: 40px 20px; */  
  margin: 0px 50px; 
}

/* Mes images */
#image-home{
  background-image:url("bienvenue.jpg");
  background-color: aquamarine;
   width: 800px;
  height:500px;
  margin: 0px ;
}

#image-add{
  background-image:url("assiette.jpg");
  background-color: aquamarine;
   width: 800px;
  height:500px;
  margin: 0px ;
}

#image-affichage{
  background-image:url("bienvenue.jpg"); 
  background-color: aquamarine;
   width: 800px;
  height:500px;
  margin: 0px ;
}
#image-edit{
  background-image:url("freedom.jpg"); 
  background-color: aquamarine;
   width: 800px;
  height:500px;
  margin: 0px ;
}